@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.about{
  min-height: 100%;
  display: flex;
  width: 60%;
  flex-direction: column;
  &__info{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    background-color: $grey;
    &--box{
      align-self: center;
      padding: 5rem;
      width: 100%;
      justify-content: center;
      text-align: center;
      border-bottom: 3px solid $black;
      font-size: 3rem;
      h1{
        color: $blue;
      }
      h2{
        margin-top: 1rem;
        font-size: 2rem;
        color: $black;
      }
    }
    
  }
}
.btn{
  background-color: $blue;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  color: $white;
  font-weight: bold;
  font-size: 1.5rem;
  &:hover {
    cursor: pointer;
  }
}