@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.barbers {
  &__box{
    min-height: 50px;
     height: 8rem;
  }
  &__item {
    min-height: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
   
    
    &-image {
      border-radius: 30px;
      min-width: 60px;
      min-height: 60px;
      margin-right: 1rem;
    }

    // &:hover {
    //   @include button-active--opacity;
    // }
  }
}

.box{
  // border-right: 1px solid darken($white, 5%);
  border: 1px solid darken($white, 5%);
  padding: 2px;
  align-items: center;
  min-width: 200px;
  max-width: 600px;
  width: 100%;
}