@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.contact{
  min-height: 100%;
  display: flex;
  width: 60%;
  flex-direction: column;
  &__info{
    background-color: $white;
    display: inline-flex;
    border: 3px solid $blue;
    margin: 1.5rem;
    &--box{
      width: 34%;
      padding: 3rem;
      h1{
        color: $blue;
      }
      h2{
        margin-top: 1rem;
        color: $black;
      }
    }
  }
}