@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.day-list {
  display: flex;
  &__item {
    width: 18%;
    @include fade;

    color: #8395a7;
    min-height: 5rem;
    min-width: 5rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;

    &:hover {
      background-color: #ee5253;
      cursor: pointer;
      color: $dark-background;
    }

    &--selected {
      background-color: darken($white, 5%);
      color: $dark-background;

      &:hover {
        background-color: darken($white, 5%);
      }
    }
    h3{
      text-align:center;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
  }
}