@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.scheduler{
  width: 60%;
  &__container{
    display: flex;
    // width: 100%;  
    padding-right: 9rem;
    background-color: $grey;
  }
}