@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.service-list {
  font-family: 'Lemonada', cursive;
  display: flex;
  align-self: center;
  margin: 1rem;
  &__text{
    font-size: medium;
  }
  &__item {
    width: 20%;
    @include fade;
    background-color:$grey;
    color: $black;
    min-width: 5rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    font-size: medium;

    &:hover {
      background-color: $white;
      cursor: pointer;
      color: $dark-background;
    }

    &--selected {
      background-color: $blue;
      color: $white;

      &:hover {
        background-color: $blue;
        color: $white;
      }
    }
  }
}