@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.sidebar-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  padding-left: 2rem;
  padding-right: 2rem;
  &__item {
    width: 18%;
    @include fade;
    background-color:$black;
    color: $white;
    margin-top: 3rem;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;

    &:hover {
      cursor: pointer;
      color: $blue;
    }

    &--selected {
      color: $blue;
    }
    h3{
      font-weight: bold;
      align-self: center;
      text-align:center;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
  }
}