@import "../styles/variables.scss";

.spacer{
  height: 7.7rem;
}

.time-list{
  width: 9rem;
  // padding-left: 4rem;
  text-align: right;
  &__slot{
    margin:4px;
    font-size: larger;
    min-height: 9rem;
  }
}