@import "../styles/variables.scss";

.spacer{
  height: 7.7rem;
}

.time-list{
  background-color: $grey;
  padding-left: 5rem;
  &__slot{
    margin:4px;
    font-size: larger;
    min-height: 9rem;
  }
}