
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/animations.scss";

$appointment-height: 9rem;

.appointment {
  &__add {
    background-color: $white;
    min-height: $appointment-height;
    // margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    // width: 100%;

    &-button {
      @include button-inactive--opacity;

      &:hover {
        @include button-active--opacity;
      }
    }
  }

  &__time {
    display: flex;
  }

  &__separator {
    margin: 4px;
    border: 0;
    // border-bottom: 1px solid darken($white, 5%);
    width: 100%;
  }

  &__card {
    border-radius: 7px;
    min-height: $appointment-height;
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    color: $white;
    // width: 200px;

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 50%;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }

    &--create {
      background-color: $dark-background;
      display: flex;
    }
    &--show1 {
      color: darken($black, 5%);
      background-color: rgba($booked-color1, $active-opacity);
    }
    &--show2 {
      color: darken($black, 5%);
      background-color: rgba($booked-color2, $active-opacity);
    }
    &--show3 {
      color: darken($black, 5%);
      background-color: rgba($booked-color3, $active-opacity);
    }
    &--show4 {
      color: darken($black, 5%);
      background-color: rgba($booked-color4, $active-opacity);
    }
    &--show5 {
      color: darken($black, 5%);
      background-color: rgba($booked-color5, $active-opacity);
    }

    &--status {
      background-color: $dark-background;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--confirm {
      @include border-card($danger-color);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &--error {
      @include border-card($error-color);

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &:last-of-type &__add,
  &:last-of-type &__card {
    display: none;
  }

  &__actions {
    margin-top: 1rem;

    &-button {
      @include button-inactive--opacity;
      margin-right: 0.5rem;
      display: none;
      color: $black;

      &:hover {
        @include button-active--opacity;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__card:hover &__actions-button {
    display: inline;
  }

  &__create-input {
    background-color: $dark-background;
    border: 0;
    border-bottom: 1px solid;
    color: $white;
    font-size: 1.5rem;
    height: 2rem;
    margin-bottom: 0.25rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__status-image {
    margin-right: 2rem;
    animation: rotate 1s linear infinite;
  }

  &__error {
    &-message {
      display: flex;
      flex-direction: column;
    }

    &-close {
      @include button-inactive--opacity;

      align-self: flex-start;
      &:hover {
        @include button-active--opacity;
      }
    }
  }

  &__validation {
    color: $danger-color;
    margin-bottom: 1rem;
  }
}
