$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$dark-background: #222f3e;

$weeks-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;
$booked-color1: #d0fb11;
$booked-color2: rgb(240, 69, 69);
$booked-color3:rgb(30, 192, 233);
$booked-color4:rgb(217, 48, 246);
$booked-color5:rgb(99, 250, 79);
$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;
$spacing: 2rem;
